{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
  <img class="profile-image" src="{{ url_for('static', filename='images/avatar.jpeg') }}" alt="" />
  <h1>Hey Visitor! </h1>
  <h1>I'm Phuong, Penultimate Business Analytics student at NUS</h1>

  <div class="content-text">
    <h2>Data enthusiast</h2>
    <p>
      Proficient in Python, SQL, R, Tableau 

    </p>
  </div>
  <a href="https://www.linkedin.com/in/hapuong/" class="btn btn-secondary">Connect With Me</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Summary</h2> <br> <br>

    <p style="text-align: justify;">I'm a skilled Data Analyst with experience in Python and expertise in libraries like Pandas, NumPy, and Scikit-learn, 
      as well as data visualization tools like Tableau and Power BI. I excel at transforming complex datasets into actionable insights and collaborate closely 
      with stakeholders to create data-driven solutions that address real-world challenges.
      I'm an adaptable quick learner who thrives in fast-paced environments. Don't hesitate to reach out for collaboration or to connect!
    </p>

  </div>
</section>

<!-- Work experience -->

<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Working experience</h2>
    <p>Check out my working experience</p>
  </div>

  <div class="container">
    
    <div class="experience">

      <div class="item">
        <h3 class="company-name">AVT Consulting</h3>
        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Vietnam</div>
        <div class="job-info">
          <div class="title">Data Analyst Intern</div>
          <div>Aug 2024 - Present</div>
        </div>
        <!-- <div>
          <ul style="list-style-type: disc; padding-left: 20px; margin-left: 20px;">
            <li>Create an interactive dashboard with Plotly and Streamlit, enabling users to select options and filter products
              based on their preferences and utilize OpenShift to deploy the dashboard into the company’s platform, reached 40% of engineers using</li>
            <li>Use Random Forest Regression to predict new product features with accuracy of 84%.</li>
            <li>Develop automated and interactive platform for machine learning solution using Flask and Plotly.</li>
          </ul>
        </div> -->
      </div>

      <div class="item">
        <h3 class="company-name"><b>Infineon Technologies AG</b></h3>
        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Singapore</div>
        <div class="job-info">
          <div class="title">Data Analyst Intern</div>
          <div>May 2024 - Present</div>
        </div>
        <div>
          <ul style="list-style-type: disc; padding-left: 20px; margin-left: 20px;">
            <li>Developed an interactive dashboard using Plotly and Streamlit, allowing users to filter products based on preferences, and deployed it on the company’s platform using OpenShift, achieving a 40% adoption rate among engineers.
            </li>
            <li>Implemented a Random Forest Regression model to predict new product features with an 84% accuracy rate.</li>
            <li>Created an automated and interactive platform for machine learning solutions using Flask and Plotly, enhancing usability and efficiency.</li>
          </ul>
        </div>
      </div>

      <div class="item">
        <h3 class="company-name"><b>National University of Singapore</b></h3>
        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Singapore</div>
        <div class="job-info">
          <div class="title">Teaching Assistant</div>
          <div>Jan 2024 - May 2024</div>
        </div>
        <div>
          <ul style="list-style-type: disc; padding-left: 20px; margin-left: 20px;">
            <li>Instructed on data visualization and statistical methods using R, delivering clear and effective lessons.</li>
            <li>Managed administrative support and facilitated the resolution of student concerns, overseeing a cohort of 100 students.</li>
            <li>Evaluated and improved the exam paper processing for the course, ensuring accuracy and efficiency.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  


</section>





<!-- Projects -->
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>My Projects</h2>
    <p>Check out some of my projects</p>
  </div>

  <div class="container">
    <div class="textcard">
      <table>
        <tr>
          <!-- <td>
            <img src="https://github.com/dmdhrumilmistry/pyhtools/blob/main/.images/PyHTools.png?raw=True"
              alt="Pyhtools image" style="width: auto; max-width: 100%;">
          </td> -->
          <td>
            <div class="container">
              <h3>IMDB Web Scraping and Analytics by Python</h3>
              <p style="text-align: justify;">
                <ul style="list-style-type: disc; padding-left: 20px; margin-left: 20px;">
                  <li>Scraped data for the top 100 films based on customer ratings from IMDb using BeautifulSoup.</li>
                  <li>	Utilize Pandas for data manipulation and Seaborn for data visualization, creating comprehensive graphs and charts to analyze rating distributions.
                    Skills acquired: BeautifulSoup, Selenium, Pandas, NumPy, Matplotlib, Seaborn</li> <br>
                    <i>Skills acquired: Rshiny, HTML, CSS</i>
                </ul>
              </p>
              <a href="https://github.com/haphuong1810103/IMDB-Analytics" class="btn btn-secondary">View Project <i class="fab fa-github"></i></a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <a href="https://github.com/haphuong1810103" class="btn btn-secondary">See More <i class="fas fa-arrow-right"></i></a>

     
</section>


<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Skills set</h2>
    
  </div>

  <table style="text-align: center;">
    <tr>
      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <h2><i class="fab fa-python" style="color: #3776AB; font-size: 50px;"></i></h2>
          <h4>Python</h4>
        </div>
      </td>
      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <h2><i class="fas fa-database" style="color: #F29111; font-size: 50px;"></i></h2>
          <h4>SQL</h4>
        </div>
      </td>
      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <img src="{{ url_for('static', filename='images/R.png') }}" style="width: 50px; height: 50x;">
          <h4>R</h4>
        </div>
      </td>
      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <img src="{{ url_for('static', filename='images/tableau.png') }}" style="width: 80px; height: 50px;">
          <h4>Tableau</h4>
        </div>
      </td>

      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <h2><i class="fab fa-css3-alt" style="color: #2965F1; font-size: 50px;"></i></h2>
          <h4>CSS</h4>
        </div>
      </td>
      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <i class="fab fa-html5" style="color: #E34F26; font-size: 50px;"></i>
          <h4>HTML</h4>
        </div>
      </td>
      

      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <h2><i class="fab fa-js" style="color: #F7DF1E; font-size: 50px;"></i></h2>
          <h4>Javascript</h4>
        </div>
      </td>
      <td  style="padding: 20px;">
        <div class="textcard"  style="padding: 20px;">
          <h2><i class="fab fa-java" style="color: #5382A1; font-size: 50px;"></i></h2>
          <h4>Java</h4>
        </div>
      </td>

     
    </tr>
  </table>   
</section>

{% endblock %}